:local(.button) {
  background-color: var(--accent-700);
  border: none;
  border-bottom: 2px solid var(--accent-900);
  border-radius: 5px;
  border-right: 2px solid var(--accent-900);
  color: var(--white);
  color: var(--gray-900);
  cursor: pointer;
  font-size: 0.8em;
  padding: 5px 15px;
  transition: background-color 200ms, color 200ms;
}

:local(.button:hover) {
  background-color: var(--accent-600);
  color: var(--gray-800);
}
