:local(.cart) {
  background-color: var(--primary-700);
  border-bottom: 2px solid var(--primary-900);
  border-radius: 5px;
  border-right: 2px solid var(--primary-900);
  color: var(--white);
  display: flex;
  flex-direction: column;
  margin-top: -25%;
  min-width: 50%;
}

:local(.headline) {
  background-color: var(--primary-800);
  border-top-left-radius: 5px;
  border-top: 5px solid var(--primary-900);
  font-weight: 400;
  padding: 10px 0;
  text-align: center;
}

:local(.emptyMessage) {
  padding: 20px 10px;
  padding-bottom: 10px;
}
