:local(.table) {
  align-self: center;
  min-height: 25%;
  min-width: 90%;
  padding: 5px;
  padding-right: 0;
  text-align: left;
  width: 100%;
}

:local(.cell) {
  color: var(--white);
  border-bottom: 1px solid var(--white);
  font-weight: normal;
  padding: 2px 0;
  text-align: center;
}

:local(.cell:first-child) {
  text-align: left;
  padding-left: 0;
}

:local(.cell:last-child) {
  border: none;
  padding: 2px 0;
}

:local(.button) {
  composes: button from "./button.css";
  padding: 5px;
}

:local(@media screen and (min-width: 900px)) {
  :local(.table) {
    padding: 10px;
  }

  :local(.cell) {
    padding: 2px 20px;
  }

  :local(.cell:last-child) {
    padding-left: 10px;
  }
}
