:local(.table) {
  align-self: center;
  min-height: 25%;
  min-width: 90%;
  padding: 10px;
  text-align: left;
  width: 100%;
}

:local(.cell) {
  color: var(--white);
  border-bottom: 1px solid var(--white);
  font-weight: normal;
  padding: 2px 0;
  text-align: center;
}

:local(.cell:first-child) {
  text-align: left;
}

:local(.cell:last-child) {
  border: none;
}

:local(.button) {
  composes: button from "./button.css";
  text-align: center;
}
