* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

body * {
  border: 1px solid red;
}

#app {
  max-width: 1000px;
}

header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 20px 0;
  display: grid;
  height: calc(100% - 100px);
  grid-template-columns: 1fr 150px;
  grid-gap: 60px;
}

aside {
  margin-right: 20px;
}

.modal {
  align-items: center;
  background: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.hidden {
  display: none;
}
