:root {
  --primary-700: #FBC02D;
  --primary-800: #F9A825;
  --primary-900: #F57F17;

  --accent-600: #1E88E5;
  --accent-900: #0D47A1;

  --gray-200: #eee;

  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: Roboto;
  justify-content: center;
  min-height: 100vh;
}

#app {
  border: 2px solid var(--gray-200);
  width: 1000px;
}

header {
  align-items: center;
  background-color: var(--primary-800);
  border-top: 15px solid var(--primary-900);
  color: var(--white);
  display: flex;
  height: 100px;
  justify-content: center;
}

header h1 {
  font-weight: 400;
}

main {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 150px;
  height: calc(100% - 100px);
  padding: 20px 0;
}

aside {
  margin-right: 30px;
}
