:root {
  --primary-600: #1E88E5;
  --primary-700: #1976D2;
  --primary-800: #1465C0;
  --primary-900: #0D47A1;

  --accent-600: #FDD835;
  --accent-700: #FBC02D;
  --accent-800: #F9A825;
  --accent-900: #F57F17;

  --gray-200: #eee;
  --gray-800: #424242;
  --gray-900: #212121;

  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  justify-content: center;
  overflow-x: hidden;
}

#app {
  /* make room for CartPreview */
  /* (fixed to bottom of screen on mobile */
  margin-bottom: 65px;
  max-width: 900px;
  min-height: 100vh;
  min-width: 100vw;
}

header {
  align-items: center;
  background-color: var(--primary-800);
  border-bottom: 15px solid var(--primary-900);
  color: var(--white);
  display: flex;
  height: 100px;
  justify-content: center;
}

header h1 {
  font-weight: 400;
}

main {
  height: calc(100% - 100px);
}


@media screen and (min-width: 900px) {
  #app {
    min-width: 900px;
    margin-bottom: 20px;
    max-width: 1200px;
  }

  main {
    border: 2px solid var(--gray-200);
    border-top: none;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr auto;
    padding: 20px 30px;
  }

  header {
    border-top: 15px solid var(--primary-900);
    border-bottom: none;
  }
}
